.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #FD2D01;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.formauth {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 55px;
  border: 1px solid gray;
  border-radius: 50px;
}



form h3 {
  margin: 24px 0px 75px 0;
  font-size: 22px;
  padding-bottom: 30px;
  width: 64%;
  text-align: center;
}


.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.group label {
  padding-bottom: 15px;
  display: block;
}

.group input {
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  width: 90%;
  height: 30px;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  border-radius: 40px;
  width: 90%;
  height: 3em;
  margin: 28px 0px 0 0px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 300ms;
  background-color: #FD2D01;
  color: white;
  font-weight: bold;

}

button :hover {
  transform: scale(1.1);
}

.suggestion {
  display: flex;
  align-items: center;
}

.suggestion a {
  font-style: italic;
  text-decoration: none;
  color: black;
  transform: scale(1);
  transition: transform 200ms;
}

.suggestion :hover {
  transform: scale(1.1);
}